.todo-app {
    background-color: #f3f7ffbb;  
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
  }
  
  .header {
    width: 500px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .header input {
    width: 200px;
    flex: 1;
    padding: 10px;
    color: #4482fc;
    border: 1px solid #053696;
    border-radius: 4px;
    background-color: #1f167100;
  }

  .header .add-btn {
    width: 40px;
    height: 40px;
    background-color: #4482fc;
    color: white;
    border: none;
    padding: 0 15px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  .todo-list-title{
    margin-top: 70px;
    font-weight: 500;
    font-size: 19px;
    color:#4482fc;
  }

  .todo-list{
    display: flex;
    flex-direction: column;
    column-gap: normal;
  }

  .todo-card{
    width: 432px;
    background-color:#4481fc6b ;
    border: 1px solid #4482fc;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 21px;
    margin-bottom: 25px;
  }

  .todo-card-text{
    width: 322px;
    color: #4482fc;
    font-size: 18px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
  }

  .todo-card-buttons{
    width: Hug (68px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .todo-card-buttons button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #4482fc;
  }

  .todo-card-buttons button:hover{
    color: #053696;
    cursor: pointer;
  }

  .todo-card-title{
    font-size: 20px;
    font-weight: 700;
  }

  .todo-card-description{
    font-size: 15px;
  }
  .editBtn{
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #4482fc;
    color: #4482fc;
    margin-top: -15px;
  }
  
  .todo-list-complete{
    display: flex;
    flex-direction: column;
    column-gap: normal;

    .todo-card-title{
      text-decoration: line-through;
      color: #4482fc81;
    }
    
    .todo-card-description{
      color: #4482fc81;
    }
  }