
.enterheader{
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #ffffff;
  .name{
    display: flex;
    p{
      margin:10px 20px;
      color:#ffffff;
      font-size: 50px;
      font-style: italic;
    }
    img{
    width: 80px;
    height: 60px;
    margin: 7px 0 0 7px;
    transform: rotateY(180deg) rotateZ(-10deg);
  }
  }
  
  ul{
    display: flex;
    justify-content: end;
    li{
      list-style-type: none;
      margin: 0;
      button{
        width: 100px;
        height: 30px;
        margin-top: 10px;
        margin-right: 20px;
        border-radius: 13px;
        border: 0;
        background-color: #9E78CF;
        color:#ffffff;
        font-size: 17px;
        font-weight:bold;
      }
    }
  }
}